# Ignore all images in the datasets directory
datasets/*.jpg
datasets/*.png
datasets/*.jpeg
datasets/*.bmp
datasets/*.gif
datasets/*.tiff

# Ignore the entire datasets directory
datasets/
plots/
output/
noise_visualization/
Matrices/
Artistic/
outputs1/
trainingOutput/
stylized_outputs/
trained_models/r11
trained_models/r21


